.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.components-container {
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
    
    justify-content: center;
    max-height: 70%;
    overflow: auto;
}